<h1>Ask</h1>
<hr>
<%= form_for(@question) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Enter your question here ..." %>
    <%= f.label :category %>
    <%= f.select :category, Question::CAT, {prompt:"Select Category of your question"}%>
    <%= f.label :tag %>
    <%= f.text_field :tag, placeholder: "Enter tags here separated by commas" %>
    <%= f.submit "Post Your Question" ,class: "button"%>
<% end %>
