<%= render 'stack/section' %>
<h3 align='center'><%= (@question.title).capitalize %></h3>
<div class="ui form">
    <br><br>
    <p><%= @question.body.capitalize %> </p>
    <div class="two fields">
        <div class="two wide field"></div>
        <div class="eight wide field">
            <p><strong><%= @question.category%></strong> </p>
            <p><strong><%= @question.tag %></strong> </p>
            <% if @question.answers.any? %>
                <p><strong> Answers &nbsp; &nbsp; </strong> 
                <% @question.answers.each do |ans| %>
                    <li><%= ans %></li>
                <% end %>
            <% end %>
            <%= render 'answer/form' %>
        </div>
    </div>
</div>
</div>
<%= render 'stack/tags' %>
