<%= render 'stack/section' %>
<h3 align='center'><%= (@question.title).capitalize %></h3>
<div class="ui form">
    <br><br>
    <p><%= @question.body.capitalize %> </p>
    <div class="two fields">
        <div class="two wide field"></div>
        <div class="eight wide field">
            <p><strong><%= @question.category%></strong> </p>
            <p><strong><%= @question.tag %></strong> </p>
            <% if @question.answers.any? %>
                <p><strong> Answers &nbsp; &nbsp; </strong> 
                <% @question.answers.each do |ans| %>
                    <li><%= ans.body %></li>
                <% end %>
            <% end %>
            <%= form_for(@answer) do |f| %>
                <%= render 'answers/form', f: f %>
                <%= f.hidden_field :question_id, value: @question.id %>
                <% if logged_in? %>
                <%= f.hidden_field :user_id, value: current_student.id %>
                <%= f.hidden_field :user_type, value: 'Student' %>
            <% else %>
                <%= f.hidden_field :user_id, value: current_lecturer.id %>
                <%= f.hidden_field :user_type, value: 'Lecturer' %>
                <% end %>
                <br>
            <%= f.submit "Answer", class: "ui inverted green button" %>
                <% end %>
        </div>
    </div>
</div>
</div>
<%= render 'stack/tags' %>
