<h1> Student Log In</h1>
<hr>
<br>
<div class="ui form">
    <%= form_for(:session,url: log_in_path) do |f| %>
        <div class="two fields">
            <div class="one wide field"></div>
            <div class="six wide field">
                <%= f.label :email %>
                <%= f.text_field :email,  placeholder: 'Email'  %>
            </div>
        </div>
        <br>
        <div class="two fields">
            <div class="one wide field"></div>
            <div class="six wide field">
                <%= f.label :password %>
                <%= f.password_field :password, placeholder: 'Password'  %>
            </div>
        </div>
        <br>
        <div class="three fields">
                <div class="one wide field"></div>
                <div class="three wide field">
                    <%= f.submit "Login", class:"ui inverted blue button" %> &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            <div class="four wide field">
                <%= link_to "New Here? Sign up", new_student_path, class: "ui inverted orange button" %>
            </div>
        </div>
    <% end %>
    <br>
</div>

