<h1>Assignment </h1>
<div class="row">
    <div class="medium-4">
        <%= form_for(@assignment) do |f| %>
            <%= render 'shared/errors', object: f.object %>
            <%= f.label :unit_code%>
            <%= f.text_field :unit_code%>
            <%= f.label :Description %>
            <%= f.text_area :title%>
            <%= f.label :attach_file %>
            <%= f.file_field :attachment%>
            <%= f.label :due_date%>
            <%= date_select(:assignment, :due_date, { :default => @the_date, :include_blank=> @the_date.nil?  })%>


            <%= f.submit "Post Assignment", class: "button" %>
        <% end %>
    </div>
</div>

