<h3 align='center'>Hello <%= (@student.f_name).capitalize %></h3>
<hr>
<br><br>
<h4 align= 'center'> My Information </h4>
<br>
<table>
    <tr> <th>Registration Number </th>
        <td> <%= @student.reg_no %></td></tr>
    <tr><th>First Name </th>
        <td> <%= @student.f_name %></td></tr>
    <tr><th>Last Name </th>
        <td> <%= @student.l_name %></td></tr>
    <tr><th>Email </th>
        <td> <%= @student.email %></td></tr>
    <tr><th>Phone No. </th>
        <td> <%= @student.phone %></td></tr>
    <tr><th>School </th>
        <td> <%= @student.school %></td></tr>

</table>
<p align='center'><%= link_to 'Edit Profile', edit_student_path, class:"ui inverted violet button" %></p> 

