<h1>Lecturer Log In</h1>
<hr>
<br>
<div class="ui form">
    <%= form_for(:login,url: signin_path) do |f| %>
        <div class="two fields">
            <div class="one wide field"></div>
            <div class="six wide field">
                <%= f.label :email %>
                <%= f.text_field :email,  placeholder: 'Email'  %>
            </div>
        </div>
        <br>
        <div class="two fields">
            <div class="one wide field"></div>
            <div class="six wide field">
                <%= f.label :password %>
                <%= f.password_field :password, placeholder: 'Password'  %>
            </div>
        </div>
        <br>
        <div class="three fields">
            <div class="one wide field"></div>
            <div class="three wide field">
                <%= f.submit "Login", class:"button", class: "ui inverted blue button" %>
            </div>
        <% end %>
        <div class="four wide field">
            <%= link_to "New Here? Sign up", new_lecturer_path, class: "ui inverted orange button" %>
        </div>
        </div>
</div>

