<h1> Sign up here!!</h1>
<%= form_for(@user) do |f| %>
    <%= render 'shared/errors' %>
    <%= f.text_field :reg_no, placeholder: 'Registration number'  %>
    <%= f.text_field :f_name, placeholder:'First Name'  %>
    <%= f.text_field :l_name, placeholder: 'Last Name' %>
    <%= f.text_field :email,  placeholder: 'Email'  %>
    <%= f.text_field :phone,  placeholder: 'Phone'  %>
    <%= f.text_field :school, placeholder: 'School'  %>
    <%= f.password_field :password, placeholder: 'Password'  %>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password'  %>
    <%= f.submit "Signup" %>
<% end %>
