<h1>Edit Profile Information</h1>
<div class="row">
    <div class="medium-8 columns">
        <div class="medium-offset-5">
            <%= form_for(@lecturer) do |f| %>
                <%= render 'shared/errors', object: f.object %>
                <%= f.text_field :id_no, placeholder: 'Id number'  %>
                <%= f.text_field :f_name, placeholder:'First Name'  %>
                <%= f.text_field :l_name, placeholder: 'Last Name' %>
                <%= f.text_field :email,  placeholder: 'Email'  %>
                <%= f.text_field :phone,  placeholder: 'Phone'  %>
                <%= f.text_field :school, placeholder: 'School'  %>
                <%= f.password_field :password, placeholder: 'Password'  %>
                <%= f.password_field :password_confirmation, placeholder: 'Confirm Password'%>
                <%= f.submit "Update Informatio", class: "button" %>
            <% end %>
        </div>
    </div>
</div>
