<h3 align='center'>Lecturer <%= (@lecturer.f_name).capitalize %></h3>
<hr>
<br><br>
<h4 align= 'center'> My Information </h4>
<br>
<table>
    <tr> <th>Id Number </th>
        <td> <%= @lecturer.id_no %></td></tr>
    <tr><th>First Name </th>
        <td> <%= @lecturer.f_name %></td></tr>
    <tr><th>Last Name </th>
        <td> <%= @lecturer.l_name %></td></tr>
    <tr><th>Email </th>
        <td> <%= @lecturer.email %></td></tr>
    <tr><th>Phone No. </th>
        <td> <%= @lecturer.phone %></td></tr>
    <tr><th>School </th>
        <td> <%= @lecturer.school %></td></tr>

</table>
<br>
<p align='center'><%= link_to 'Edit Profile', edit_lecturer_path, class:"button" %>
<%= link_to 'New Assignment', new_assignment_path, class:"button" %>
</p>
