<div class="top-bar">
    <div class="top-bar-right">
        <h5><%= link_to "Contact", "#footer" %></h5>&nbsp; &nbsp;
        <h5> <%= link_to "Stack", stack_path %></h5>&nbsp; &nbsp;
        <% if logged_in? %>
        <h5><%= link_to "Logout", logout_path, method: :delete %></h5>
            <% else %>
        <h5><%= link_to "Login", login_path %></h5>
        <% end %>
    </div>
    <div class="top-bar-left">
        <%# <%= link_to  image_tag("logo1.png"), root_url%> 
            <h2><%= link_to "Shahada", root_url %></h2>
    </div>
</div>
