<div class="top-bar">
    <div class="ui grid">
        <div class="row">
            <div class="three wide column">
                <h2><%= link_to "Shahada", root_url %></h2> &nbsp; &nbsp;
            </div>
            <div class="one wide column">
                <% if logged_in? %>
                    <h2><%= link_to fa_icon('home' ),current_student %></h2>
                <% elsif signed_in? %>
                    <%= link_to fa_icon('home' ),current_lecturer %>
                <% end %>
            </div>
            <div class="one wide column">
                <h5> <%= link_to "Stack", questions_path %></h5>
            </div>

            <div class="one wide column">
                <h5><%= link_to "Contact", "#footer" %></h5>&nbsp; &nbsp;
            </div>
            <% if logged_in? %>
                <div class="one wide column">
                    <h5> <%= link_to "Assignments", assignments_path %></h5>&nbsp; &nbsp;
                </div>
                <div class="one wide column">
                    <h5><%= link_to "Logout", logout_path, method: :delete %></h5>
                </div>
            <% elsif signed_in? %>
                <div class="one wide column">
                    <h5> <%= link_to "Assignments", assignments_path %></h5>&nbsp; &nbsp;
                </div>
                <div class="one wide column">
                    <h5><%= link_to "Signout", signout_path, method: :delete %></h5>
                </div>
            <% else %>
                <div class="one wide column">
                    <h5><%= link_to "Student", log_in_path %></h5>&nbsp; &nbsp;
                </div>
                <div class="one wide column">
                    <h5><%= link_to " Lecturer", signin_path %></h5>
                </div>
            <% end %>
        </div>
    </div>
</div>

